$background-color: #151515;
$lighter-background-color: #292929;
$active-tab-color: $lighter-background-color;
$inactive-tab-color: #242424;
$hover-tab-color: #242424;

$accent-color: #3756f5;

$text-color: #c8c8c8;
$input-background-color: #1d1d1d;
$input-background-color-selected: #222222;
$input-border-color: #202020;
$input-border-color-selected: #121212;

$button-color: #484848;
$button-border-color: #353535;
$button-color-selected: #5d5d5d;
$button-disabled-color: #333333;
